body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:306px;
  width:1600px;
  height:900px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:155px;
  background:inherit;
  background-color:rgba(0, 0, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1008px;
  width:701px;
  height:155px;
  opacity:0.8;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:155px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:853px;
  width:701px;
  height:155px;
  opacity:0.7;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:155px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:698px;
  width:701px;
  height:155px;
  opacity:0.7;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:698px;
  width:1234px;
  height:508px;
  opacity:0.21;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:1230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:507px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:699px;
  width:1234px;
  height:507px;
  opacity:0.21;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:1230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:393px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:306px;
  width:1600px;
  height:393px;
  opacity:0.8;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:582px;
  width:460px;
  height:43px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:961px;
  top:587px;
  width:311px;
  height:32px;
}
#u102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:587px;
  width:117px;
  height:32px;
  color:#999999;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:590px;
  width:29px;
  height:29px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:651px;
  width:720px;
  height:47px;
  opacity:0.75;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:655px;
  width:94px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:655px;
  width:94px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:655px;
  width:94px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:655px;
  width:172px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:853px;
  width:9px;
  height:16px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  visibility:hidden;
  white-space:nowrap;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:508px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:698px;
  width:199px;
  height:508px;
  opacity:0.57;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:508px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1628px;
  top:698px;
  width:167px;
  height:508px;
  opacity:0.56;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:246px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:75px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:741px;
  width:72px;
  height:75px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:741px;
  width:43px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:769px;
  width:571px;
  height:57px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:741px;
  width:115px;
  height:18px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:735px;
  width:19px;
  height:31px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:75px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:896px;
  width:72px;
  height:75px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:896px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:924px;
  width:571px;
  height:57px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:896px;
  width:115px;
  height:18px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:75px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1051px;
  width:72px;
  height:75px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1051px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1079px;
  width:571px;
  height:57px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:571px;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:1051px;
  width:115px;
  height:18px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1045px;
  width:19px;
  height:31px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:890px;
  width:19px;
  height:31px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:1008px;
  width:43px;
  height:43px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:810px;
  width:43px;
  height:43px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:43px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:1163px;
  width:701px;
  height:43px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:697px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:1170px;
  width:100px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:1170px;
  width:544px;
  height:30px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1176px;
  width:145px;
  height:18px;
  color:#BCBCBC;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
